/* App.css */

/* General App Styles */
.App {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #0474cc;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

/* File Input Styles */
input {
  margin: 20px;
  border: 2px solid #0474cc;
  padding: 5px;
}

input:focus {
  outline: none;
  border-color: #0474cc;
  box-shadow: 0 0 5px #0474cc;
}

/* Button Styles */
button {
  padding: 10px 20px;
  background-color: #0474cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #035a99;
}

/* Result and Error Styles */
.image-preview {
  margin-top: 20px;
}

.image-preview img {
  width: 300px; /* Adjust the size as needed */
  height: auto;
}

.result {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}

h3 {
  color: #333;
  font-size: 2rem;
}
